#sub_main {
  width: 70%;
  height: 50%;
  margin-left: 100px;
  margin-top: 100px;
  border: 2px solid black;
}

#buttons {
  width: 100%;
}

/* .bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
} */

.modalHyperlink {
  display: none;
}
